* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 220px;
    background-color: black;
    background-image: url(images/THJJRUhNlEc.png);
}

.header-text{
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    gap: 35px;
}

.find-text {
    font-size: 42.795px;
    font-style: normal;
    font-weight: 700;
    max-width: 100%;
    margin-left: 42px;

}

.link-container{
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
}

a, a:visited, a:active {
    color: white;
    text-decoration: none;
}