* {
  margin: 0;
  padding: 0;
}
body,
.header,
.header-text,
.watchlist-container,
.input-search,
.not-found,
.movie,
.movie-details,
.movie-title,
.movie-genre,
.add-to-watchlist {
  display: flex;
}
body,
.header,
.header-text,
.input-search,
.movie-title,
.movie-genre {
  align-items: center;
}
body,
.header,
.watchlist-container,
.input-search {
  justify-content: center;
}
body,
.not-found,
.movie-details {
  flex-direction: column;
}
.movie-plot,
.link-container {
  font-size: 14px;
}
.header-text,
a:active,
.add-icon {
  color: white;
}
.search-icon,
input:valid {
  color: grey;
}
.input-search input,
.input-search button {
  border-style: none;
}
.movies-list, .watchlist-container, .input-search, section{
  background-color: white;
}
body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(white, lightgrey);
  height: 100dvh;
}
.header {
  width: 550px;
  height: 220px;
  background-color: black;
  background-image: url(images/THJJRUhNlEc.png);
}
.header-text {
  width: 100%;
  gap: 35px;
}
.find-text {
  font-size: 42.795px;
  font-weight: 800;
  max-width: 100%;
  margin-left: 42px;
}
.link-container {
  margin: 0 auto;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.input-search {
  position: absolute;
  border: 1px solid grey;
  border-radius: 6px;
  top: 198px;
  max-height: 36px;
}
.search-icon {
  height: 24px;
  padding-left: 8px;
  margin-top: 1px;
}
.input-search input {
  width: 316px;
  height: 20px;
  padding: 7px 13px;
}
input:focus {
  outline: none;
}
.input-search button {
  color: #374151;
  width: 92px;
  height: 36px;
  border-left: 1px solid grey;
  border-radius: 0 6px 6px 0;
}
.input-search button:active {
  background-color: darkgray;
}
.movies-list {
  max-width: 550px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 30px;
  width: 548px;
  height: 600px;
}
.not-found {
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
  color: #6b7280;
}
.not-found-icon {
  color: darkgrey;
  font-size: 38px;
}
.movie-component hr {
  border-color: #e5e7eb;
}
.movie {
  padding: 20px 0px;
}
.movie-details {
  margin-left: 21px;
  margin-right: 8px;
}
.movie-title {
  gap: 8px;
}
.movie-genre {
  margin-top: 11px;
  gap: 19px;
}
.movie-plot {
  margin-top: 8px;
  color: #6b7280;
  line-height: 20px;
}
img {
  width: 100px;
  height: 150px;
}
.add-icon {
  margin: auto 6px auto 13px;
  background-color: #111827;
  font-size: 11px;
  font-style: bold;
  padding: 4px;
  border-radius: 50%;
}
.star-icon {
  color: #fec654;
  margin-right: 4px;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
/* ANIMATIONS */
.add-icon {
  transition: 0.3s ease-in-out, 0.3s ease-in-out;
}
.add-icon.add {
  transform: scale(1) rotate(0deg);
}
.add-icon.check {
  transform: scale(1.2) rotate(360deg);
}
